<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        id="1"
        photoCover="https://t2.tudocdn.net/640125?w=1920"
        cardTitle="NOVO JOGO DO HOMEM DE FERRO"
        cardDescription="Homem de Ferro ganhará jogo desenvolvido pela EA e Motive Studio"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        id="2" 
        photoCover="https://t2.tudocdn.net/640125?w=1920"
        cardTitle="NOVO JOGO DO HOMEM DE FERRO"
        ></app-small-card>
        <app-small-card
        id="3"
        photoCover="https://t2.tudocdn.net/640125?w=1920"
        cardTitle="NOVO JOGO DO HOMEM DE FERRO"
        ></app-small-card>
        <app-small-card
        id="4"
        photoCover="https://t2.tudocdn.net/640125?w=1920"
        cardTitle="NOVO JOGO DO HOMEM DE FERRO"
        ></app-small-card>
    </div>
</div>
